@import "bootstrap/dist/css/bootstrap";
.navbar
{
  background-color: #000000 !important;
}
.nav-link
{
  color: white !important;
}
#logo
{
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#home-container
{
  margin-top: 25px;
}
.jumbotron
{
  // background-image: asset-url("Jumbocopy.jfif");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: transparent;
}

html,
body {
  height: 100%;
}

#sticky-footer {
  flex-shrink: none;
}

#page-content {
  flex: 1 0 auto;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}