@import "bootstrap/dist/css/bootstrap";
.navbar
{
  background-color: #000000 !important;
}
.nav-link
{
  color: white !important;
}
#logo
{
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#home-container
{
  margin-top: 25px;
}
.jumbotron
{
  // background-image: asset-url("Jumbocopy.jfif");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: transparent;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgba(0, 0, 0,0.3);
  background-image: asset-url("Jumbocopy.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode:overlay;
}

#sticky-footer {
  flex-shrink: none;
}

#page-content1 {
  flex: 1 0 auto;
  background-color: rgb(221, 219, 219)! important;
}